{% extends "layout.njk" %}

{% block navbar %}
    {% include 'parts/navbar-admin.njk'%}   
{% endblock navbar %}

{% block content %}

    <section class="create-chefs">
        <div class="container">
            <form class="card" method="POST" action="/admin/chefs" enctype="multipart/form-data">
                <div class="box_section">
                    <h3>Cadastrando Chef</h3>
                    <button type="submit">Salvar Chef</button>
                </div>

                {% include 'admin/chefs/fields.njk' %}

            </form>
        </div>
    </section>

{% endblock  content %}