{% extends "layout.njk" %}

{% block navbar %}
    {% include 'parts/navbar-admin.njk'%}   
{% endblock navbar %}
{% block content %}

<section class="edit-chefs">
    <div class="container">

        <div class="card">

            <form id="form-delete" method="POST" action="/admin/chefs?_method=DELETE">

                <input type="hidden" name="id" value={{chef.id}}>
                <button type="submit">Deletar</button>

            </form>
            <form method="POST" action="/admin/chefs?_method=PUT" enctype="multipart/form-data">
                <div class="box_section">
                    <h3>Editando Chef</h3>
                    <button type="submit">Salvar Chef</button>
                </div>

                {% include 'admin/chefs/fields.njk' %}

                <input type="hidden" name="id" value={{chef.id}}>

            </form>
        </div>

    </div>
</section>
<script>
    const formDelete = document.querySelector('#form-delete')
    formDelete.addEventListener('submit', function (event) {
        const confirmation = confirm("Deseja realmente deletar?")

        if (!confirmation) {
            event.preventDefault()
        }
    })
</script>

{% endblock  content %}