{% extends "layout.njk" %}

{% block head %}
    <title>Chefs - Foodfy</title>
{% endblock head %}

{% block navbar %}
    {% include 'parts/navbar-admin.njk'%}   
{% endblock navbar %}

{% block content %}
    <section class="chefs">
        <div class="container">
            <div class="chefs__thumb">
            
                <div class="box_section">
                    {% if session.adm == true %}

                        <h2> Gerenciar chefs </h2>
                    
                        <a class="button" href="/admin/chefs/create">Novo Chef</a>

                    {% else %}

                        <h2> Chefs </h2>
                    
                    {% endif %}

                </div>

                <div class="chefs__boxes">

                    {% for chef in chefs %}

                    <div class="chefs__card" id="{{chef.id}}">
                        <figure class="chefs__img">
                            {% for chefFile in chefsFiles %}

                                {% if chefFile.id == chef.file_id %}
                                    <img src="{{ chefFile.src }}" alt="{{ chef.name }}">
                                {% endif %}
                                
                            {% endfor %}
                        </figure>
                        <div class="chefs__card-details">
                            <p class="chefs__card-title">{{ chef.name }}</p>
                            <a href="/admin/chefs/{{chef.id}}" class="chefs__card-button">Visualizar</a>
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
{% endblock  content %}