{% extends "layout.njk" %}

{% block head %}
    <title>Chef - Foodfy</title>
{% endblock head %}

{% block navbar %}
    <header class="bg-black">
        <div class="container">
        
            <div class="navbar bg-black">
                <h1 class="navbar__logo">
                    <a href="/admin/chefs" >                    
                        <img src="../../img/logo-white.png" alt="Foodfy">
                    </a>
                </h1>

                <ul class="navbar__options">
                    <li><a href="/admin/recipes">Receitas</a></li>
                    <li><a href="/admin/chefs">Chefs</a></li>
                </ul>
            </div>
        
        </div>
    </header>
{% endblock navbar %}

{% block content %}
    <section class="chefs_details">
        <div class="container">
        
            <div class="card_chef" id="{{chef.id}}">

                <div class="box_section">
                    <h2 class="title-default title_chef">Chef: {{chef.name}}</h2>
                    <a class="button" href="/admin/chefs/{{chef.id}}/edit">Editar Chef</a>
                </div>

                <figure class="image_chef">
                    <img src="{{ chefFile.src }}" alt="{{ chef.name }}">
                </figure>

                <div class="infos_chef">
                    <h4 class="title-default subtitle_chef">{{chef.name}}</h4>

                    <p class="author_chef">Total de receitas {{chef.total_recipes}}</p>

                    <p class="title-default title_chef">Receitas</p>

                    <div class="recipes__boxes">

                        {% for recipe in recipes %}

                        <div class="recipes__card" id="{{recipe.id}}">
                            <figure class="recipes__img">
                                {% for file in recipesFiles %}
                                    {% if file.recipe_id == recipe.id %}
                                        <img src="{{ file.src }}" alt="Imagem de {{ file.name }}">
                                    {% endif %}
                                {% endfor %}
                            </figure>
                            <div class="recipes__card-details">
                                <p class="recipes__card-title">{{ recipe.title }}</p>
                                <a href="/admin/recipes/{{recipe.id}}" class="recipes__card-button">Visualizar</a>
                            </div>
                        </div>

                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock  content %}