{% extends "layout.njk" %}

{% block navbar %}
    {% include 'parts/navbar-admin.njk'%}   
{% endblock navbar %}

{% block content %}

<section class="create-recipes">
    <div class="container">

        <div class="card card_recipe card_create">
            {% if session.admn == user_id %}
                <form id="form-delete" method="POST" action="/admin/recipes?_method=DELETE">

                    <input type="hidden" name="id" value={{recipe.id}}>
                    <button type="submit">Deletar</button>

                </form>
            {% endif %}
            <form method="POST" action="/admin/recipes?_method=PUT" enctype="multipart/form-data">
                <div class="box_header">
                    <h3>Editando receita</h3>
                    <button type="submit">Salvar receita</button>
                </div>

                <div class="item">
                    <span>Titulo</span>
                    <input 
                        type="text" 
                        name="title" 
                        value="{{ recipe.title }}">
                </div>

                {# <div class="item">
                    <span>Imagem da Receita</span>
                    <input 
                        type="url" 
                        name="image" 
                        value="{{ recipe.image }}">
                </div> #}

                <div class="item photos-style">
                    <span>Imagem da receita</span>
                    <div class="photos-thumb">
                        <div id="photos-upload">
                            <input 
                                id="photos-input"
                                type="file" 
                                name="photos" 
                                multiple
                                accept="image/*"
                                onchange="PhotosUpload.handleFileInput(event)"
                            >
                            <p>+</p>
                        </div>

                        <div id="photos-preview">
                            {% if recipeFiles %}
                                {% for file in recipeFiles %}
                                    <div class="photo" id="{{file.id}}">
                                        <img src="{{file.src}}" alt="{{file.name}}">
                                        <i class="material-icons"
                                            onclick="PhotosUpload.removeOldPhoto(event)"
                                        >close</i>
                                    </div>
                                {% endfor %}

                                <input type="hidden" name="removed_files">
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div id="ingredients" class="item">
                    <span>Ingredientes</span>

                    {% for ingredient in recipe.ingredients %}
                    <div class="ingredient">
                        <input 
                            type="text" 
                            name="ingredients" 
                            value="{{ ingredient }}" />
                    </div>
                    {% endfor %}

                    
                </div>
                <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>

                <div id="preparations" class="item">
                    <span>Preparação</span>
                    
                    {% for preparations in recipe.preparation %}
                    <div class="preparation">
                        <input 
                            type="text" 
                            name="preparation" 
                            value="{{ preparations }}" />
                    </div>
                    {% endfor %}
                </div>
                <button type="button" class="add-preparation">Adicionar novo passo</button>

                <div class="item">
                    <span>Chef</span>
                    <div>
                        <select name="chef">
                            {% for chef in chefOptions %}
                            <option value="{{chef.id}}" {% if recipe.chef_id == chef.id %}selected{% endif %} >
                                {{chef.name}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="item">
                    <span>Informações adicionais</span>
                    <textarea type="text" name="information" value="{{recipe.information}}">{{recipe.information}}</textarea>
                </div>


                <input type="hidden" name="id" value={{recipe.id}}>

            </form>
        </div>

    </div>
</section>
<script>
    const formDelete = document.querySelector('#form-delete')
    formDelete.addEventListener('submit', function (event) {
        const confirmation = confirm("Deseja realmente deletar?")

        if (!confirmation) {
            event.preventDefault()
        }
    })
</script>

{% endblock  content %}