{% extends "layout.njk" %}

{% block head %}
    <title>Chefs - Foodfy</title>
{% endblock head %}

{% block content %}
    <section class="chefs">
        <div class="container">
            <div class="chefs__thumb">

                <div class="chefs__boxes">

                    {% for chef in chefs %}

                    <div class="chefs__card" id="{{chef.id}}">
                        <figure class="chefs__img">
                            <{% for chefFile in chefsFiles %}

                                {% if chefFile.id == chef.file_id %}
                                    <img src="{{ chefFile.src }}" alt="{{ chef.name }}">
                                {% endif %}
                                
                            {% endfor %}
                        </figure>
                        <div class="chefs__card-details">
                            <p class="chefs__card-title">{{ chef.name }}</p>
                            <p class="chefs__card-recipes">{{ chef.total_recipes }} receitas</p>
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
{% endblock  content %}