{% extends "layout.njk" %}

{% block head %}
    <title>Receita detalhada - Foodfy</title>
{% endblock head %}

{% block navbar %}
    <header>
        <div class="container">
        
            <div class="navbar">
                <h1 class="navbar__logo">
                    <a href="/">                    
                        <img src="../img/logo.png" alt="Logo Foodfy">
                    </a>
                </h1>

                <ul class="navbar__options">
                    <li><a href="/sobre">Sobre</a></li>
                    <li><a href="/receitas">Receitas</a></li>
                </ul>
            </div>
        
        </div>
    </header>
{% endblock navbar %}

{% block content %}
    <section class="recipes_details">
        <div class="container">
            <div class="card_recipe" id="{{recipe.id}}">

                <h2 class="title-default title_recipe">Receita: {{recipe.title}}</h2>


                <figure class="image_recipe">
                    <img src="{{recipe.image}}" alt="{{recipe.title}}">
                </figure>

                <div class="infos_recipe">
                    <h4 class="title-default subtitle_recipe">{{recipe.title}}</h4>

                    <p class="author_recipe">por {{recipe.chef_name}}</p>

                    <div class="ingredients">
                        <div class="head_recipe">
                            <strong class="title-default title_recipe">Ingredientes</strong>
                            <button>Esconder</button>
                        </div>
                        
                        <div class="info-gerais">
                            <ul class="desc_ingredients">
                                {% for ingredient in recipe.ingredients %}
                                    <li>{{ingredient}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="preparation">
                        <div class="head_recipe">
                            <strong class="title-default title_recipe">Modo de preparo</strong>
                            <button>Esconder</button>
                        </div>

                        <div class="info-gerais">
                            {% for preparations in recipe.preparation %}
                                <p class="desc_preparation">{{preparations}}</p>
                            {% endfor %}
                        </div>
                        
                    </div>

                    <div class="information">
                        <div class="head_recipe">
                            <strong class="title-default title_recipe">Informações adicionais</strong>
                            <button>Esconder</button>
                        </div>
                        
                        <div class="info-gerais">
                            <p class="desc_information">{{recipe.information}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock  content %}