{% extends "layout.njk" %}

{% block navbar %}
<header class="bg-black">
    <div class="container">

        <div class="navbar bg-black">
            <h1 class="navbar__logo">
                <a href="/admin/recipes">
                    <img src="../../../img/logo-white.png" alt="Foodfy">
                </a>
            </h1>
        </div>

    </div>
</header>
{% endblock navbar %}

{% block content %}

<section class="create-recipes">
    <div class="container">

        <div class="card">

            <form id="form-delete" method="POST" action="/admin/recipes?_method=DELETE">

                <input type="hidden" name="id" value={{recipes.id}}>
                <button type="submit">Deletar</button>

            </form>
            <form method="POST" action="/admin/recipes?_method=PUT">
                <div class="box_header">
                    <h3>Editando receita</h3>
                    <button type="submit">Salvar receita</button>
                </div>

                <div class="item">
                    <span>Titulo</span>
                    <input 
                        type="text" 
                        name="name" 
                        value="{{ recipes.name }}">
                </div>

                <div class="item">
                    <span>Imagem da Receita</span>
                    <input 
                        type="url" 
                        name="recipes_url" 
                        value="{{ recipes.recipes_url }}">
                </div>

                <div id="ingredients" class="item">
                    <span>Ingredientes</span>

                    {% for ingredient in recipes.ingredients %}
                    <div class="ingredient">
                        <input 
                            type="text" 
                            name="ingredients" 
                            value="{{ ingredient }}" />
                    </div>
                    {% endfor %}

                </div>
                <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>

                <div id="preparations" class="item">
                    <span>Preparação</span>

                    {% for preparation in recipes.preparations %}
                    <div class="preparation">
                        <input 
                            type="text" 
                            name="preparations" 
                            value="{{ preparation }}" />
                    </div>
                    {% endfor %}

                </div>
                <button type="button" class="add-preparation">Adicionar novo passo</button>

                <div class="item">
                    <span>Informações adicionais</span>
                    <textarea 
                        type="text" 
                        name="additional" 
                        value="{{ recipes.additional }}"
                        >{{ recipes.additional }}
                    </textarea>
                </div>

                <div class="item">
                    <span>Autor da receita</span>
                    <input 
                        type="text" 
                        name="author" 
                        value="{{ recipes.author }}" />
                </div>

                <input type="hidden" name="id" value={{recipes.id}}>

            </form>
        </div>

    </div>
</section>
<script>
    const formDelete = document.querySelector('#form-delete')
    formDelete.addEventListener('submit', function (event) {
        const confirmation = confirm("Deseja realmente deletar?")

        if (!confirmation) {
            event.preventDefault()
        }
    })
</script>

{% endblock  content %}