            
    <div class="item">
        <div>Avatar URL</div>
        <div>
            <input 
                type="url"
                name="avatar_url"
                placeholder="http://"
                value="{{ teacher.avatar_url }}"
            >
        </div>
    </div>

    <div class="item">
        <div>Nome do Professor</div>
        <div>
            <input 
                type="text"
                name="name"
                placeholder="Nome completo"
                value="{{ teacher.name }}"
            >
        </div>
    </div>


    <div class="item">
        <div>Idade</div>
        <div>
            <input 
                type="date"
                name="birth_date"
                value="{{ teacher.birth_date }}"
            >
        </div>
    </div>

    <div class="item">
        <div>Grau de escolaridade (ex.: Doutorado)</div>
        <div>
            <select name="education_level">
                <option 
                    value="Ensino Médio Completo" 
                    {% if teacher.education_level == 'Ensino Médio Completo' %}
                        selected
                    {% endif %}>Ensino Médio Completo
                </option> 

                <option 
                    value="Ensino Superior Completo" 
                    {% if teacher.education_level == 'Ensino Superior Completo' %}
                        selected
                    {% endif %} >Ensino Superior Completo
                    </option> 
                <option 
                    value="Mestrado"
                    {% if teacher.education_level == 'Mestrado' %}
                        selected
                    {% endif %} >Mestrado
                </option> 
                <option 
                    value="Doutorado" 
                    {% if teacher.education_level == 'Doutorado' %}
                        selected
                    {% endif %}>Doutorado
                </option> 
            </select>
        </div>
    </div>

    <div class="item">
        <div>Tipo de aula (presencial ou à distância)</div>
        <div>
            <span>
                <input 
                    type="radio" 
                    name="class_type" 
                    value="Presencial" 
                    {% if teacher.class_type == 'Presencial' %}
                        checked
                    {% endif %} >Presencial
            </span>
            <span>
                <input 
                    type="radio" 
                    name="class_type" 
                    value="A Distância" 
                    {% if teacher.class_type == 'A Distância' %}
                        checked
                    {% endif %}>À Distância
            </span>
        </div> 
    </div>

    <div class="item">
        <div>Acompanhamento (ex.: Matemática e Física)</div>
        <div>
            <input 
                type="text"
                name="subjects_taught"
                value="{{ teacher.subjects_taught }}"
            >
        </div>
    </div>

    <button type="submit">Salvar</button>