.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-user .item{
    width: 48%;
}

.form-user .flex .item:nth-child(2){
    margin-left: 40px;
}

.form-user input[name="is_admin"]{
    width: initial;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.form-user label[for="is_admin"]{
    font-size: 16px;
    color: #111;
    font-weight: bold;
}

.form-user .buttons-create-user{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-user .buttons-create-user button{
    box-sizing: content-box;
}

.form-user .buttons-create-user button:nth-child(2){
    padding: 8px 32px;
    background: #b2acc5;
    color: var(--color--navbar);
    border-radius: 4px;
    width: 20%;
    font-size: 16px;
    cursor: pointer;
    border: 0;
    display: block;
    outline: none;
    box-sizing: content-box;
    font-weight: bold;
}

.form-user .buttons-create-user button a{
    color: var(--color--navbar);
    text-decoration: none;
}

/* === Listagem de usuários === */

.listusers .listusers__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listusers .listusers__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listusers .listusers__body{
    margin-top: 72px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.listusers .listusers__body .listusers__body--box{
    width: 100%;
    max-width: 160px;
    padding: 10px;
}

.listusers .listusers__body .listusers__body--box p{
    padding-top: 5px;
    color: #777777;
    font-size: 14px;
}

.listusers .listusers__body .listusers__body--box .listusers__body--box-button{
    padding-top: 15px;
}

.listusers .listusers__body .listusers__body--box .listusers__body--box-button a{
    text-decoration: none;
    color: #6558C3 ;
    font-size: 14px;
    font-weight: bold;
}
.listusers .listusers__body .listusers__body--box .listusers__body--box-button a:hover{
    opacity: 0.7;
}

.listusers .listusers__body .listusers__body--box .listusers__body--box-buttonlist {
    padding-top: 15px;
    display: flex;
    align-items: center;
}


.listusers .listusers__body .listusers__body--box .listusers__body--box-buttonlist button {
    background: none;
    color: #F55A5A ;
    margin-left: 15px;
    padding: initial;
}

.listusers .listusers__body .listusers__body--box .listusers__body--box-buttonlist button:hover {
    opacity: 0.7;
}