{% extends "layout.njk" %}

{% block navbar %}
    {% include 'parts/navbar-admin.njk'%}   
{% endblock navbar %}

{% block content %}

    <section class="create-chefs">
        <div class="container">
            <form class="card form-user" method="POST" action="/admin/profile?_method=PUT">
                <div class="box_section">
                    <h3>Bem vindo {{user.name}}</h3>

                    <button type="submit">Salvar</button>
                </div>

                <input type="hidden" name="id" value="{{user.id}}">

                <div class="flex">
                    <div class="item">
                        <span>Nome</span>
                        <input 
                            type="text" 
                            name="name" 
                            value="{{ user.name }}"
                            placeholder="Digite o nome completo"
                        >
                    </div>

                    <div class="item">
                        <span>E-mail</span>
                        <div class="input">
                            <input 
                                type="email"
                                name="email"
                                placeholder="Digite o email cadastrado"
                                value="{{user.email}}"
                                onblur="Validate.apply(this, 'isEmail')"
                            >
                        </div>
                    </div>
                </div>

                <div class="item">
                    <span>Senha</span>
                    <input 
                    type="password" 
                    name="password" 
                    placeholder="Digite sua senha"
                    {# required #}
                    >
                </div>

            </form>
        </div>
    </section>

{% endblock  content %}